<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-z8_PtwlqmIjR_iCDcVWYOpbgMNdEvlA</string>
	<key>GCM_SENDER_ID</key>
	<string>665814523594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.srsQuatation</string>
	<key>PROJECT_ID</key>
	<string>srs-qutation</string>
	<key>STORAGE_BUCKET</key>
	<string>srs-qutation.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665814523594:ios:057676d7b997d41ccc1e33</string>
</dict>
</plist>